:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
    --secondary-color: rgb(10, 95, 165);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url("../img/pattern-randomized.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 64px;
}

.logoname {    
    font-family: Parisienne;
    font-size: 2.3rem;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
}


.logoname:hover{
    color: #0faac5;
    transform: scale(1.1);
}



.intro-content {
    position: relative;
    top: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.intro-text-content p{
    font-size: 1.6rem;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.opacity a {
    opacity: 0.5;
}

.bareffect {
    animation: grow 2.5s ease-in-out forwards;
}
.bareffect-back{
    animation: slap 2.5s ease-in-out forwards;
}
.bareffect-banco{
    animation: grow 2.5s ease-in-out forwards;
}
.bareffect-devops{
    animation: vops 2.5s ease-in-out forwards;
}
.bareffect-front{
    animation: ment 2.5s ease-in-out forwards;
}


@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}
@keyframes slap {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes vops {
    0% {
        width: 0;
    }
    100% {
        width: 55%;
    }
}

@keyframes ment {
    0% {
        width: 0;
    }
    100% {
        width: 45%;
    }
}
.col-content{
    justify-content: center; 
    text-align: left; 
    padding-top: 10%;
}

/* Estilos para o botão de voltar ao topo */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-image: url('../img/square-alt-arrow-up-svgrepo-com.svg'); 
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.scroll-to-top:hover{
    background-color: #0faac5;
    transform: scale(1.1);
}

.icons {
	display: flex;
	column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon img{
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon-instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon-github:hover {
	background-color: #000000;
	outline-color: #000000;
}
.icon-linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon-gmail:hover {
	background-color: #e0140d;
	outline-color: #e0140d;
}
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}


.skills-content h2{
    color: #000000;
    font-family: 'Montserrat';
    font-size: 2rem;
} 

.backend-content{
    margin-top: 3%;
}
.backend-content h2{
    padding-top: 3%;
    opacity: 0.5;
}

.frontend-content{
    margin-top: 3%;
}

.banco-content{
    margin-top: 3%;
}

.frontend-content h2,
.banco-content h2, 
.devops-content h2{
    opacity: 0.5;
}

.devops-content{
    margin-top: 3%;
}

.frontend-content:hover h2,
.backend-content:hover h2,
.banco-content:hover h2, 
.devops-content:hover h2{
    opacity: 0.5;
    color: #0faac5;
}
