:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
    --secondary-color: rgb(255, 196, 0);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    font-size: 6rem;

}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {

    background-size: cover;
    background-color: #0077b5;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;

}

.menu.shadow {
    transition: all 0.7s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Sombra quando desce */
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.test a:hover {
    color: var(--secondary-color);
    transition: all 0.5s ease;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
    transition: all 0.5s ease;
    color: rgb(255, 196, 0)
}

.menu-spacing {
    height: 85px;
}

.logoname {
    font-family: 'Parisienne', cursive;
    font-size: 2.3rem;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
}

.logoname:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.intro-content {
    position: relative;
    top: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;

}

.intro-text-content span {
    color: var(--white-color);
    opacity: 0.5;
    font-size: 2rem;
}

.bnt-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.auto-text {
    display: flex;
    height: 5vh;
    width: 100%;
    font-size: 3.5rem;
    color: rgb(255, 196, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.a span {

    font-size: 2rem;
}

/* .opacity a {
    opacity: 0.5;
} */

.bareffect {
    animation: grow 2.5s ease-in-out forwards;
}

.bareffect-back {
    animation: slap 2.5s ease-in-out forwards;
}

.bareffect-banco {
    animation: grow 2.5s ease-in-out forwards;
}

.bareffect-devops {
    animation: vops 2.5s ease-in-out forwards;
}

.bareffect-front {
    animation: ment 2.5s ease-in-out forwards;
}


@keyframes grow {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes slap {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes vops {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

@keyframes ment {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

.col-content {
    justify-content: center;
    text-align: left;
    padding-top: 10%;
}

/* Estilos para o botão de voltar ao topo */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-image: url('../img/square-alt-arrow-up-svgrepo-com.svg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.scroll-to-top:hover {
    background-color: #0faac5;
    transform: scale(1.1);
}

.icons {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon img {
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}

.icon:hover {
    outline-offset: 4px;
}

.icon i {
    margin: auto;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icon-github:hover {
    background-color: #000000;
    outline-color: #000000;
}

.icon-linkedin:hover {
    background-color: #0210d1;
    outline-color: #0210d1;
}

.icon-gmail:hover {
    background-color: #e0140d;
    outline-color: #e0140d;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


.skills-content h2 {
    color: #000000;
    font-family: '';
    font-size: 2rem;
}

.skills-title {
    display: flex;
    border-bottom: 2px solid #f1f1f1;
}

.skills-title h1 {
    color: #000000;
    justify-content: center;
    align-items: baseline;

}

.skills-img {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: start;
    filter: grayscale(0);

}

.skills-img img {
    padding-bottom: 2%;
    padding-right: 1%;
    width: 6%;
    height: 6vh;

}

.skills-img h2 {
    font-family: Josefin Sans sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.backend-content {
    margin-top: 5%;
}

.backend-content h2 {
    padding-top: 0.5%;

}

.frontend-content {
    margin-top: 5%;

}

.frontend-content h2 {
    padding-top: 0.5%;

}

.banco-content {
    margin-top: 5%;
}

.banco-content h2 {
    padding-top: 0.5%;

}

.devops-content {
    margin-top: 5%;
}

.devops-content h2 {
    padding-top: 0.5%;

}

.block {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 85%;
    height: 28vh;
    background-color: #f1f1f1;
    margin-top: 40px;
    border: 1px;
    border-radius: 10px;
    transition: all 0.6s ease;
    box-shadow: 10px 20px 40px #b9b7b7;
}

.block img {
    width: 40%;
    border-radius: 5px;
    padding-top: 10%;
    transition: all 0.6s ease;
    filter: grayscale(1);

}

.block:hover {
    box-shadow: 5px 7px 16px var(--secondary-color);
}

.block:hover img {
    filter: grayscale(0);
}

.block h3 {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    color: gray;
}

.block:hover h3 {
    color: #000000;
    transition: all 0.5s ease;
}

.projects-title {
    display: flex;
    border-bottom: 2px solid #007cbe;
}

.items{
    position: relative;
    padding-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items .item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 7%;
    border: 7px solid #ffffff05;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item.active{
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -15px rgba(0, 0, 0, 0.75);
}

.item.prev{
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next{
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items .button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button{
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover{
    opacity: 1;
}
.button-container .button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1){
    float: left;
}
.button-container .button:nth-child(2){
    float: right;
}

