:root {
    --primary-color: #0a0a0a;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
    --secondary-color: rgb(255, 196, 0);
}

* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    font-size: 6rem;

}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.main-bg {

    background-size: cover;
    background-color: #273035;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;

}

.menu.shadow {
    transition: all 0.7s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Sombra quando desce */
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.test a:hover {
    color: var(--secondary-color);
    transition: all 0.5s ease;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
    transition: all 0.5s ease;
    color: var(--secondary-color)
}

.menu-spacing {
    height: 85px;
}

.logoname {
    font-family: 'Parisienne', cursive;
    font-size: 2.3rem;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
}

.logoname:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.intro-content {
    position: relative;
    top: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;

}

.intro-text-content span {
    color: var(--white-color);
    opacity: 0.5;
    font-size: 2rem;
}

.bnt-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.auto-text {
    display: flex;
    height: 5vh;
    width: 100%;
    font-size: 3.5rem;
    color: var(--secondary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.a span {

    font-size: 2rem;
}

/* .opacity a {
    opacity: 0.5;
} */

.bareffect {
    animation: grow 2.5s ease-in-out forwards;
}

.bareffect-back {
    animation: slap 2.5s ease-in-out forwards;
}

.bareffect-banco {
    animation: grow 2.5s ease-in-out forwards;
}

.bareffect-devops {
    animation: vops 2.5s ease-in-out forwards;
}

.bareffect-front {
    animation: ment 2.5s ease-in-out forwards;
}


@keyframes grow {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes slap {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes vops {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

@keyframes ment {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

.col-content {
    justify-content: center;
    text-align: left;
    padding-top: 10%;
}

.whatsapp-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-image: url('../img/whatsapp-svgrepo-com.svg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

/* Estilos para o botão de voltar ao topo */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-image: url('../img/arrow-up-square-svgrepo-com.svg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.scroll-to-top:hover {

    transform: scale(1.1);
}

.icons {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon img {
    width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}

.icon:hover {
    outline-offset: 4px;
}

.icon i {
    margin: auto;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icon-github:hover {
    background-color: #000000;
    outline-color: #000000;
}

.icon-linkedin:hover {
    background-color: #0210d1;
    outline-color: #0210d1;
}

.icon-gmail:hover {
    background-color: #e0140d;
    outline-color: #e0140d;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


.skills-content h2 {
    color: #000000;
    font-family: '';
    font-size: 2rem;
}

.skills-title {
    display: flex;
    border-bottom: 2px solid #f1f1f1;
}

.skills-title h1 {
    color: #ffffff;
    justify-content: center;
    align-items: baseline;
    font-size: 2.5rem;

}

.skills-img {
    display: flex;
    align-items: center;
}

.skills-img img {
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 6%;
    height: 6vh;

}

.skills-img h2 {
    font-family: Josefin Sans sans-serif;
    font-weight: 500;
}

.backend-content,
.frontend-content,
.devops-content,
.banco-content {
    margin-top: 5%;
}

.backend-content h2,
.frontend-content h2,
.banco-content h2,
.devops-content h2 {
    padding-top: 0.5%;
    color: var(--white-color);
    font-size: 1.8rem;

}

.block {

    background-color: #f1f1f1;
    border: 1px;
    border-radius: 10px;
    transition: all 0.6s ease;
    box-shadow: 10px 20px 40px #535353;
}

.block img {
    width: 40%;
    border-radius: 5px;
    padding-top: 10%;
    transition: all 0.6s ease;
    filter: grayscale(1);

}

.block:hover {
    box-shadow: 5px 7px 16px var(--secondary-color);
}

.block:hover img {
    filter: grayscale(0);
}

.block h3 {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    color: gray;
}

.block:hover h3 {
    color: #000000;
    transition: all 0.5s ease;
}

.projects-title {
    display: flex;
    justify-content: baseline;
    border-bottom: 2px solid #ffffff;
}

.items {
    position: relative;
    padding-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 40vh;
    border-radius: 5%;
    border: 5px solid var(--secondary-color);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 1;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {

    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -15px rgba(0, 0, 0, 0.75);
}

.item.active:hover {
    height: 50vh;
    transition: all 700ms ease;

}

.item.prev {
    z-index: 1;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 1;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items .button-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180%;
    z-index: 100;
    padding-bottom: 14%;


}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 0.75;
}

.button-container .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: -99;

}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}

.arrow {
    border: solid var(--secondary-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}



/* .card {
    
    overflow: hidden;
    transition: flex 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 10px; /* Espaçamento entre os cards 
    border: 5px solid #ff0000;
    position: relative;
}
 */

.card-content {
    /*  display: none;  */
    display: none;

    padding: 10px;
    background: linear-gradient(to top, var(--secondary-color), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 700ms ease;
}

.card:hover .card-content {
    display: block;
    /* Mostra o conteúdo ao passar o mouse */
    transition: all 700ms ease;
}

.card-title h2 {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: Josefin Sans, sans-serif;
    font-weight: 600;
    border-bottom: 1px solid var(--secondary-color);
    text-align: start;
    color: #FFFFFF;
}


.card-paragraph {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Josefin Sans, sans-serif;
    color: #FFFFFF;
}

.card-button1 {
    padding: 5px 10px;
    width: 40%;
    background-color: #070707;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.card-button2 {
    padding: 5px 10px;
    width: 40%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.card-content a {
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-end;

}

.card-button:hover {
    background-color: #0056b3;
}

.form-container {
    min-height: 100%;
}

.footer-container {
    background-color: var(--white-color);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.footer-content {
    color: #000000;
    text-align: center;
}

.talk-container {
    color: var(--white-color);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testtest {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.main2-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 50%;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
    }

    &:nth-child(5) {
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
        font-size: 3rem;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 1.5rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 1rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav-carrousel {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 1.5rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 2rem;
        }

        & .description {
            font-size: 0.8rem;
        }

        & button {
            font-size: 0.8rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}

/* Carrosel Repositorios */


.section-git {
    padding-top: 10%;
    position: relative;
    height: 100%;
}


.swiper {
    width: 90%;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    border: 2px solid;
    border-color: #ffffff;
}

.gitcard-content h1,
h3,
span,
a {
    color: #ffffff;

}

.gitcard-content h1 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;

}

.gitcard-content span {
    font-size: 1.3rem;
    text-align: left;
    justify-content: baseline;
    display: flex;

}

.gitcard-content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;

}

.gitcard-content button {
    margin-top: 70%;
}

.gitcard-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

@media (width < 650px) {
    .gitcard-content button {
        margin-right: 10%;
        margin-top: 130%;
    }
}